{
  "name": "Minter Extender",
  "app":{
    "debug": ME_DEBUG,
    "baseCoin": "ME_BASE_COIN",
    "coinsUpdateTimeMinutes" : ME_COINS_UPDATE_TIME,
    "txChunkSize": ME_TX_CHUNK_SIZE,
    "addrChunkSize": ME_ADDR_CHUNK_SIZE,
    "eventsChunkSize": ME_EVENTS_CHUNK_SIZE
  },
  "workers": {
    "saveTxs": ME_WRK_SAVE_TXS,
    "saveTxsOutput": ME_WRK_SAVE_OUTPUT_TXS,
    "saveInvalidTxs": ME_WRK_SAVE_INVALID_TXS,
    "saveRewards": ME_WRK_SAVE_REWARDS,
    "saveSlashes": ME_WRK_SAVE_SLASHES,
    "saveAddresses": ME_WRK_SAVE_ADDR,
    "saveTxValidator": ME_WRK_SAVE_TX_VAL,
    "updateBalance": ME_WRK_UPD_BALANCE,
    "balancesFromNode": ME_WRK_BALANCE_NODE
  },
  "database": {
    "host": "ME_DB_HOST",
    "name": "ME_DB_NAME",
    "user": "ME_DB_USER",
    "password": "ME_DB_PASSWORD",
    "minIdleConns": ME_DB_MIN_IDLE_CONNS,
    "poolSize": ME_DB_POOL_SIZE
  },
  "minterApi": {
    "isSecure": false,
    "link": "ME_NODE_HOST",
    "port": "ME_NODE_PORT"
  },
  "extenderApi": {
    "host": "ME_API_HOST",
    "port": "ME_API_PORT"
  },
 "wsServer":{
   "isSecure" : false,
   "link" : "ME_WS_LINK",
   "port" : "ME_WS_PORT",
   "key"  : "ME_WS_KEY"
 }
}
