{
  "name": "Minter Extender",
  "app":{
    "debug": ME_DEBUG,
    "baseCoin": "ME_BASE_COIN",
    "txChunkSize": ME_TX_CHUNK_SIZE,
    "eventsChunkSize": ME_EVENTS_CHUNK_SIZE
  },
  "workers": {
    "saveRewards": ME_WRK_SAVE_REWARDS,
    "saveSlashes": ME_WRK_SAVE_SLASHES,
  },
  "database": {
    "host": "ME_DB_HOST",
    "name": "ME_DB_NAME",
    "user": "ME_DB_USER",
    "password": "ME_DB_PASSWORD",
    "minIdleConns": ME_DB_MIN_IDLE_CONNS,
    "poolSize": ME_DB_POOL_SIZE
  },
  "minterApi": {
    "isSecure": false,
    "link": "ME_NODE_HOST",
    "port": "ME_NODE_PORT"
  },
  "extenderApi": {
    "host": "ME_API_HOST",
    "port": "ME_API_PORT"
  }
}
