[Unit]
Description=Minter Explorer Extender Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
KillMode=process
TimeoutStartSec=10
Restart=always
RestartSec=15s
WorkingDirectory=/opt/minter/extender
ExecStart=/opt/minter/extender/extender -config=config.json

User=minter
Group=minter

[Install]
WantedBy=multi-user.target
